/* Webfont: Merriweather-BoldItalic */@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Merriweather-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Merriweather-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

